.subform{
	margin-top: 15px;
	display: none;
}

.input-breadcrumb{
	display: none;
}

textarea{
	width: 100%;
	max-width: 480px;
	min-height: 200px;
	text-align: left;
	margin: auto;
}

.latest-result{
	font-weight: bold;
}